# Ignore Python cache and virtual environment
__pycache__/
*.pyc
api/

# Ignore database files
chroma_db/
chat_documents/

# Ignore uploaded files
uploaded_docs/
uploaded_images/

# Ignore large binaries
*.dll
*.lib
*.pyd

# Ignore VS Code settings
.vscode/
